@import "../../styles/default"

.item
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 80px
    width: 15%
    color: #545563
    background: #FFFFFF
    border: 1px solid #EDEEF2
    border-radius: 16px
    &:hover
        background: #F8F9FF
        border: 1px solid #697BFF
    &:active
        background: #F3F4FF
        border: 2px solid $active-color
        color: $active-color
    span
        font-weight: 600
        font-size: 13px
        line-height: 13px
        letter-spacing: 0.1px
        padding-top: 12px
    

#mg
    margin-top: 32px
    margin-bottom: 40px