header
  border-bottom: 1px solid #EDEEF2
.header
  min-height: 60px
  padding: 10px 0px
  // border-bottom: 1px solid #EDEEF2
.searchBlock
  margin-left: 24px
  @media screen and (max-width:760px) 
    display: none;
