.search_wrapper
    display: flex
    align-items: center
    justify-content: space-between
    width: 224px
    height: 40px
    background: #EDEEF2
    border-radius: 12px
.search
    display: flex
    font-size: 10px
    font-family: 'Nunito'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #83859C
    background: #EDEEF2
    border: none
    margin: 10px 12px
    &:focus
        outline: none
        placeholder: ''
        &::placeholder 
            color: transparent

.icon_search
    display: flex
    color: #83859C
    width: 16px
    height: 16px
    margin: 12px